<!DOCTYPE html>
<html ng-app="surwaze" ng-cloak>

<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="./js/angular.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Import Reference Sample -->
    <!-- <link rel="import" href="../bower_components/paper-slider/paper-slider.html"> -->
    <script type="text/javascript" src="./js/script.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <title>Surwaze Home</title>
</head>

<body>
    <div class="container-fluid wrapper">
        <div class="userpanel">
        </div>
        <div class="navigation">
            <div class="logoslot">
                <img src="./assets/logo.png" id="logoimg">
            </div>
            <div class="navigation-home navigation-item selected" onclick="SelectNav('home')">
                <h4>Home</h4>
            </div>
            <div class="navigation-inbox navigation-item" onclick="SelectNav('inbox')">
                <h4>Inbox</h4>
            </div>
            <div class="navigation-analytics navigation-item" onclick="SelectNav('analytics')">
                <h4>Analytics</h4>
            </div>
            <div class="navigation-settings navigation-item" onclick="SelectNav('settings')">
                <h4>Settings</h4>
            </div>
        </div>
        <div class="survey-wrap" ng-controller="ctrl1">
            <div id="addQuestion" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">New Question</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" ng-model=newQuestion class="newForm option_0" name="question-input" placeholder="Enter New Question." onfocus="addBorder('option_0')" />
                            <input type="text" ng-model=newOptions[0].option class="newForm option_1" name="option_one" placeholder="Option 1" onfocus="addBorder('option_1')" />
                            <input type="text" ng-model=newOptions[1].option class="newForm option_2" name="option_two" placeholder="Option 2." onfocus="addBorder('option_2')" />
                            <input type="text" ng-model=newOptions[2].option class="newForm option_3" name="option_three" placeholder="Option 3." onfocus="addBorder('option_3')" />
                            <input type="text" ng-model=newOptions[3].option class="newForm option_4" name="option_four" placeholder="Option 4." onfocus="addBorder('option_4')" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="insertData()">Add Quesion</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-cards-wrap container-fluid">
                <a href="#"><div class="new-button" data-toggle="modal" data-target="#addQuestion">
                    <h3>+</h3>
                </div></a>
                <div class="row question-card" ng-repeat="q in questions">
                    <div class=col-md-12>
                        <div class="question>">
                            <p>{{q.question}}</p>
                        </div>
                        <hr>
                        <div class="options">
                            <p>{{q.options[0].sl}}:{{q.options[0].option}}</p>
                            <p>{{q.options[1].sl}}:{{q.options[1].option}}</p>
                            <p>{{q.options[2].sl}}:{{q.options[2].option}}</p>
                            <p>{{q.options[3].sl}}:{{q.options[3].option}}</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="row question-card">
                    <div class="question>">
                        <p> What The Fuuuuuuuuuck?????</p>
                    </div>
                    <hr>
                    <div class="options">
                        <p>a:don't give a fuck</p>
                        <p>b:still don't give a fuck</p>
                        <p>c:still don't give a fuck</p>
                        <p>d:still don't give a fuck</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</body>

</html>
